<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Stefan Popa" />
    <meta
      name="keywords"
      content="masina, coupe, sedan, SUV, hatchback, estate, sport"
    />
    <meta name="description" content="Anunturi cu masini de vanzare" />

    <title>AutoTrade</title>

    <%- include("../fragmente/head.ejs"); %>
  </head>

  <body>
    <%- include("../fragmente/header.ejs"); %>

    <main>
      <div>
        <div>
          <h2>Ghid 1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            nibh ligula, maximus sit amet tempor et, lacinia a neque. Nulla
            consectetur felis sit amet nisi consequat, at commodo erat congue.
            Vestibulum felis risus, volutpat interdum nulla sed, eleifend
            maximus ligula. Pellentesque nisl nibh, elementum eu velit a, mattis
            placerat magna. Proin nec nunc est. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin blandit enim at dignissim
            condimentum. Vestibulum auctor nunc at sem pellentesque, eget
            maximus nibh pellentesque. Suspendisse ac ipsum lacus. Mauris id
            lectus lectus.
          </p>
        </div>

        <div>
          <h2>Ghid 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            nibh ligula, maximus sit amet tempor et, lacinia a neque. Nulla
            consectetur felis sit amet nisi consequat, at commodo erat congue.
            Vestibulum felis risus, volutpat interdum nulla sed, eleifend
            maximus ligula. Pellentesque nisl nibh, elementum eu velit a, mattis
            placerat magna. Proin nec nunc est. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin blandit enim at dignissim
            condimentum. Vestibulum auctor nunc at sem pellentesque, eget
            maximus nibh pellentesque. Suspendisse ac ipsum lacus. Mauris id
            lectus lectus.
          </p>
        </div>

        <div>
          <h2>Ghid 3</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            nibh ligula, maximus sit amet tempor et, lacinia a neque. Nulla
            consectetur felis sit amet nisi consequat, at commodo erat congue.
            Vestibulum felis risus, volutpat interdum nulla sed, eleifend
            maximus ligula. Pellentesque nisl nibh, elementum eu velit a, mattis
            placerat magna. Proin nec nunc est. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Proin blandit enim at dignissim
            condimentum. Vestibulum auctor nunc at sem pellentesque, eget
            maximus nibh pellentesque. Suspendisse ac ipsum lacus. Mauris id
            lectus lectus.
          </p>
        </div>
      </div>
    </main>

    <%- include("../fragmente/footer.ejs"); %>
  </body>
</html>
