<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Stefan Popa" />
    <meta
      name="keywords"
      content="masina, coupe, sedan, SUV, hatchback, estate, sport"
    />
    <meta name="description" content="Anunturi cu masini de vanzare" />

    <title>AutoTrade</title>
    
    <%- include("../fragmente/head.ejs"); %>
  </head>

  <body>
    <%- include("../fragmente/header.ejs"); %>

    <div class="content-section formular-login">
      <%- include("../fragmente/formular_login.ejs"); %>
    </div>

    <%- include("../fragmente/footer.ejs"); %>
  </body>
</html>
