:root {
  --galerie_animata_width: 480px;
  --galerie_animata_height: 270px;
  --figcaption_alpha: 0.7;
}

.center {
  margin: auto;
  width: var(--galerie_animata_width);
  padding: 0px;
}

.galerie_animata {
  margin: 0;
  padding: 0;
}
.galerie_animata div {
  position: relative;
  height: var(--galerie_animata_height);
  overflow: hidden;
  border-image: url(../imagini/border_image.jpg) 10 10;
  border-style: solid;
}
.galerie_animata div figure {
  margin: 0;
  height: var(--galerie_animata_height);
  width: var(--galerie_animata_width);
  position: absolute;
  top: 0;
  left: calc(50% - var(--galerie_animata_width) / 2);
  z-index: 0;
}
.galerie_animata div figure img {
  height: 100%;
  width: 100%;
}
.galerie_animata div figure figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, var(--figcaption_alpha));
  text-align: center;
}

.galerie_animata figure {
  animation-name: gal_animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 24s;
  transform-origin: center center;
}
.galerie_animata div:hover figure {
  animation-play-state: paused;
}
.galerie_animata figure:nth-of-type(8) {
  animation-delay: 0s;
}
.galerie_animata figure:nth-of-type(7) {
  animation-delay: 3s;
}
.galerie_animata figure:nth-of-type(6) {
  animation-delay: 6s;
}
.galerie_animata figure:nth-of-type(5) {
  animation-delay: 9s;
}
.galerie_animata figure:nth-of-type(4) {
  animation-delay: 12s;
}
.galerie_animata figure:nth-of-type(3) {
  animation-delay: 15s;
}
.galerie_animata figure:nth-of-type(2) {
  animation-delay: 18s;
}
.galerie_animata figure:nth-of-type(1) {
  animation-delay: 21s;
}

@keyframes gal_animation {
  0% {
    z-index: 10;
    opacity: 1;
  }
  2.0833333333% {
    transform: translateX(0);
  }
  6.25% {
    transform: translateX(33%);
    opacity: 1;
  }
  10.4166666667% {
    transform: translateX(-33%);
    opacity: 0.3;
  }
  11.4583333333% {
    opacity: 0;
  }
  12.5% {
    z-index: 10;
    transform: translateX(200%);
    opacity: 0;
  }
  12.500001% {
    z-index: -10;
    transform: translateX(0);
  }
  87.5% {
    opacity: 0;
    z-index: -10;
    transform: translateX(0);
  }
  87.500001% {
    z-index: 0;
  }
  100% {
    opacity: 1;
  }
}
/*cum calculam timpii:
- avem 7 poze; vrem pentru fiecare un timp de afisare de 1.5 secunde si o trecere spre urmatoarea poza de 1.5 secunde
- rezulta 3 secunde pentru fiecare imagine
- 7imagini * 3secunde =21 secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.285714(aproximativ)
100%..... 21s
x%........3s

- calculam 100-14.285714=85.714286 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii

1             ... total_time = animation_time * nrimag
procent_total ... animation_time
procent_total = 1 / nrimag

procent_display ... display_time
procent_display = display_time / total_time
*/
@media screen and (max-width: 1024px) {
  .galerie_animata {
    display: none;
  }
}