:root {
  --light-blue1: #f1faff;
  --light-blue2: #e8eefd;
  --light-blue3: #d0dcfc;
  --light-blue4: #aabff9;
  --light-blue5: #7496f5;
  --blue1: #26b3ff;
  --blue2: #22a1e6;
  --blue3: #1d86bf;
  --blue4: #135a80;
  --blue5: #041238;
  --blue6: #081222;
  --blue6-transparent: rgba(8, 18, 34, 0.3);
}