:root {
  --large_screen_min_width: 1024px;
  --medium_screen_min_width: 700px;
  --small-font-size: 13px;
  --medium-font-size: 14px;
  --large-font-size: 16px;
  --standard_transition_duration: 0.5s;
  --fast_transition_duration: 0.3s;
}

.content-section {
  padding: 1em;
  margin: 1em;
  background-color: var(--content-section-bkg-color);
  border: 2px solid var(--border-color);
  border-radius: 1em;
}

body {
  margin: 0;
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}
body main {
  margin-top: 0;
}
body h2 {
  text-align: center;
}
body #grid_main {
  display: grid;
}
body #grid_main #grid_main_area_1 #grid_caroserii {
  display: grid;
}
body #grid_main #grid_main_area_1 #grid_caroserii_suv {
  grid-area: grid_caroserii_suv;
}
body #grid_main #grid_main_area_1 #grid_caroserii_estate {
  grid-area: grid_caroserii_estate;
}
body #grid_main #grid_main_area_1 #grid_caroserii_sedan {
  grid-area: grid_caroserii_sedan;
}
body #grid_main #grid_main_area_1 #grid_caroserii_coupe {
  grid-area: grid_caroserii_coupe;
}
body #grid_main #grid_main_area_1 #grid_caroserii_cabriolet {
  grid-area: grid_caroserii_cabriolet;
}
body #grid_main #grid_main_area_1 #grid_caroserii_hatchback {
  grid-area: grid_caroserii_hatchback;
}
body #grid_main #grid_main_area_1 {
  grid-area: grid_main_area_1;
}
body #grid_main #grid_main_area_2 {
  grid-area: grid_main_area_2;
}
body #grid_main #grid_main_area_3 {
  grid-area: grid_main_area_3;
}
body #grid_main #grid_main_area_4 {
  grid-area: grid_main_area_4;
}
body #grid_main #grid_main_area_5 {
  grid-area: grid_main_area_5;
}
body #grid_main #grid_main_area_6 {
  grid-area: grid_main_area_6;
}
body #grid_main #grid_main_area_7 {
  grid-area: grid_main_area_7;
}
body #grid_main #grid_main_area_8 {
  grid-area: grid_main_area_8;
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: var(--large-font-size);
  }

  main #grid_caroserii {
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "grid_caroserii_suv grid_caroserii_estate grid_caroserii_sedan" "grid_caroserii_coupe grid_caroserii_cabriolet grid_caroserii_hatchback";
  }
  main #grid_caroserii img {
    width: 200px;
    height: auto;
  }
  main #grid_main {
    grid-template-columns: repeat(4, auto);
    grid-template-areas: "grid_main_area_1 grid_main_area_1 grid_main_area_1 grid_main_area_1" "grid_main_area_8 grid_main_area_8 grid_main_area_8 grid_main_area_8" "grid_main_area_3 grid_main_area_2 grid_main_area_2 grid_main_area_4" "grid_main_area_5 grid_main_area_6 grid_main_area_7 grid_main_area_7";
  }
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
  :root {
    font-size: var(--medium-font-size);
  }

  main #grid_caroserii {
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "grid_caroserii_suv grid_caroserii_estate grid_caroserii_sedan" "grid_caroserii_coupe grid_caroserii_cabriolet grid_caroserii_hatchback";
  }
  main #grid_caroserii img {
    width: 150px;
    height: auto;
  }
  main #grid_main {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "grid_main_area_1 grid_main_area_1" "grid_main_area_8 grid_main_area_8" "grid_main_area_2 grid_main_area_2" "grid_main_area_3 grid_main_area_4" "grid_main_area_6 grid_main_area_6" "grid_main_area_5 grid_main_area_7";
  }
}
/* Small screen */
@media screen and (max-width: 700px) {
  :root {
    font-size: var(--small-font-size);
  }

  main #grid_caroserii {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "grid_caroserii_suv grid_caroserii_estate" "grid_caroserii_sedan grid_caroserii_coupe" "grid_caroserii_cabriolet grid_caroserii_hatchback";
  }
  main #grid_caroserii img {
    width: 100px;
    height: auto;
  }
  main #grid_main {
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "grid_main_area_1" "grid_main_area_8" "grid_main_area_2" "grid_main_area_3" "grid_main_area_4" "grid_main_area_6" "grid_main_area_5" "grid_main_area_7";
  }
}

/*# sourceMappingURL=main.css.map */
