<header>
  <h1>AutoTrade</h1>
</header>

<nav class="print_display_none">
  <label id="hamburger" for="ch-menu">
    <img src="./resurse/imagini/Hamburger_icon_alb.png" />
  </label>
  <input id="ch-menu" type="checkbox" class="print_display_none" />
  <ul class="menu">
    <li class="">
      <div>
        <i class="fa-solid fa-house-chimney fa-sm"></i>
        <a href="/index">Acasa</a>
      </div>
      <div class="print_display_none"><i class="fa-solid fa-house-chimney fa-sm"></i></div>
      <ul>
        <li>
          <a href="/index#despre">Despre site</a>
        </li>
        <li>
          <a href="/index#anunturi_noi">Anunturi noi</a>
        </li>
        <li><a href="/index#faq">FAQ</a></li>
        <li>
          <a href="/index#informatii_utile">Informatii utile</a>
        </li>
      </ul>
    </li>
    <li class="">
      <div><a href="/despre">Masini</a></div>
    </li>
    <li class="">
      <div><a href="/ghiduri">Ghiduri</a></div>
    </li>
    <li class="">
      <div>Inregistrare</div>
      <ul>
        <li><a href="">Log In</a></li>
        <li><a href="">Sign Up</a></li>
        <li>
          <a href="">Contul meu</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
