@use "sass:math";

:root {
	--galerie_animata_width: 480px;
	--galerie_animata_height: 270px;

	--figcaption_alpha: 0.7;
}

.center {
	margin: auto;
	width: var(--galerie_animata_width);
	padding: 0px;
}

.galerie_animata {
	margin: 0;
	padding: 0;

	div {
		position: relative; // Ca sa pot centra galeria
		height: var(--galerie_animata_height);
		overflow: hidden;

		border-image: url(../imagini/border_image.jpg) 10 10;
		border-style: solid;

		figure {
			margin: 0;
			height: var(--galerie_animata_height);
			width: var(--galerie_animata_width);

			position: absolute;
			top: 0;
			left: calc(50% - var(--galerie_animata_width) / 2);
			z-index: 0;

			img {
				height: 100%;
				width: 100%;
			}

			figcaption {
				position: absolute;
				bottom: 0px;
				width: 100%;
				background-color: rgba($color: white, $alpha: var(--figcaption_alpha));
				text-align: center;
			}
		}
	}
}

// Animatia
$nrimag: <%- locals.nrImagini %>;
$animation_time: 3s; // Cat timp dureaza animatia pentru o singura poza
$total_time: $nrimag * $animation_time; // Cat timp dureaza animatiile pentru toate pozele

.galerie_animata {
	figure {
		animation-name: gal_animation;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;
		animation-duration: $total_time;
		transform-origin: center center;
	}

	// Animatia se opreste cand cursorul este pozitionat pe galerie
	div:hover figure {
		animation-play-state: paused;
	}

	// Delay pentru fiecare figure
	@for $figIndex from $nrimag through 1 {
		figure:nth-of-type(#{$figIndex}) {
			animation-delay: ($nrimag - $figIndex) * $animation_time;
		}
	}
}

// Transformari folosite
$transformare_0: translateX(0) !default;
$transformare_1: translateX(33%) !default; // Mut dreapta cu 1/3
$transformare_2: translateX(-33%) !default; // Mut stanga cu 1/3
$transformare_3: translateX(200%) !default; // Mut dreapta cat de mult pot

// Calculez timpi si procente
$procent_total: math.percentage(math.div($animation_time, $total_time));
$display_time: math.div($animation_time, 6); // Cat timp va aparea nemodificata fiecare poza
$procent_display: math.percentage(math.div($display_time, $total_time));

// Mutare la dreapta cu 1 / 3
$first_move_time: $display_time + $animation_time * math.div(2, 6);
$procent_first_move: math.percentage(math.div($first_move_time, $total_time));
// Mutare la stanga cu 2 / 3
$second_move_time: $first_move_time + $animation_time * math.div(2, 6);
$procent_second_move: math.percentage(math.div($second_move_time, $total_time));
// Opacitate 0 (se realizeaza la mijlocul mutarii finale inspre dreapta)
$opacity0_time: $second_move_time + $animation_time * math.div(1, 12);
$opacity0_procent: math.percentage(math.div($opacity0_time, $total_time));
// Mutare la dreapta finala
$third_move_time: $second_move_time + $animation_time * math.div(1, 6);
$procent_third_move: math.percentage(math.div($third_move_time, $total_time));
// Delta pentru schimbari instantanee
$delta_procent: math.pow(10, -6);

@keyframes gal_animation {
	0% {
		z-index: 10;
		opacity: 1;
	}

	// Prima faza in care se afiseaza fara efect
	#{$procent_display} {
		transform: $transformare_0;
	}

	// A doua faza in care mut cu 1/3 la dreapta
	#{$procent_first_move} {
		transform: $transformare_1;
		opacity: 1;
	}

	// A treia faza in care mut cu 2/3 la stanga si incep sa scad opacitatea
	#{$procent_second_move} {
		transform: $transformare_2;
		opacity: 0.3;
	}

	#{$opacity0_procent} {
		opacity: 0;
	}

	// A patra faza in care mut la dreapta si imaginea dispare
	#{$procent_third_move} {
		z-index: 10;
		transform: $transformare_3;
		opacity: 0;
	}

	#{$procent_third_move + $delta_procent} {
		z-index: -10;
		transform: $transformare_0;
	}

	// Revine pe pozitie
	#{100 - $procent_third_move} {
		opacity: 0;
		z-index: -10;
		transform: $transformare_0;
	}

	#{100 - $procent_third_move + $delta_procent} {
		z-index: 0;
	}

	100% {
		opacity: 1;
	}
}

/*cum calculam timpii:
- avem 7 poze; vrem pentru fiecare un timp de afisare de 1.5 secunde si o trecere spre urmatoarea poza de 1.5 secunde
- rezulta 3 secunde pentru fiecare imagine
- 7imagini * 3secunde =21 secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.285714(aproximativ)
100%..... 21s
x%........3s

- calculam 100-14.285714=85.714286 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii

1             ... total_time = animation_time * nrimag
procent_total ... animation_time
procent_total = 1 / nrimag

procent_display ... display_time
procent_display = display_time / total_time
*/

@media screen and (max-width: 1024px) {
	.galerie_animata {
		display: none;
	}
}