:root {
  --nav_height: 3rem;

  --menu_btn_width: 150px;
  --menu_btn_bkg_color_transition_duration: var(--standard_transition_duration);

  --menu_link_shadow_y_offset: calc(-2 / 3 * var(--nav_height));
  --menu_link_shadow_transition_duration: var(--standard_transition_duration);

  --submenu_dropdown_animation_duration: 1s;

  --submenu_underline_animation_duration: var(--standard_transition_duration);
}

nav {
  height: var(--nav_height);
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0; /* Ca sa mearga position: sticky */
  position: sticky;
  z-index: 10;

  background-color: var(--nav_background_color);
  color: var(--nav-text-color);

  a {
    color: var(--nav-text-color);
    text-decoration: none;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  ul.menu {
    // Toate butoanele
    li {
      list-style-type: none;
      letter-spacing: 1px;
      text-align: center;
      cursor: pointer;
      background-color: var(--nav_background_color);

      div,
      a {
        height: var(--nav_height);
        line-height: var(--nav_height);
      }
    }

    // Butoanele principale
    > li {
      display: block;
      float: left;
      position: relative;
      width: var(--menu_btn_width);
      height: var(--nav_height);
      text-align: center;

      transition: background-color var(--menu_btn_bkg_color_transition_duration)
        linear;

      // Shadow transition
      > div > a {
        text-shadow: 0px var(--menu_link_shadow_y_offset) 0px transparent;
        transition: text-shadow var(--menu_link_shadow_transition_duration)
          linear;
      }
    }

    > li:hover {
      background-color: var(--nav-hover-bkg-color);

      > div > a {
        text-shadow: 0px -1px 2px white;
      }

      ul {
        display: block;
      }
    }

    // Submeniurile
    ul {
      display: none;
      position: relative;
      width: 100%;
      z-index: 10;

      // Dropdown animation
      animation-name: submenu_dropdown;
      animation-duration: var(--submenu_dropdown_animation_duration);

      // Submenu color change transition
      li {
        transition: background-color var(--menu_link_shadow_transition_duration)
          linear;
      }

      li:hover {
        background-color: var(--nav-hover-bkg-color);
      }

      // Submenu underline transition 
      a {
        text-decoration: underline;
        text-decoration-color: rgba(255, 255, 255, 0);
        transition: text-decoration-color
          var(--submenu_underline_animation_duration) linear;
      }

      li:hover a {
        text-decoration-color: rgba(255, 255, 255, 1);
      }
    }
  }

  .menu-right {
    float: right;
  }

  #container-btn-tema {
    button {
      background-color: transparent;
      margin: 0;
      padding: 0;

      height: 100%;
    }
  }
}

@keyframes submenu_dropdown {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }

  100% {
    transform-origin: top;
    transform: scaleY(1);
  }
}

/* Hamburger menu */
#hamburger,
#ch-menu {
  display: none;
}

/* Large screen */
@media screen and (min-width: 1024px) {
  /* Ascund butonul pentru meniu mediu */
  nav ul.menu > li:nth-child(1) > div:nth-child(2) {
    display: none;
  }
}

/* Medium screen */
@media screen and (min-width: 700px) and (max-width: 1024px) {
  /* Ascund butonul pentru meniu mare */
  nav ul.menu > li:nth-child(1) > div:nth-child(1) {
    display: none;
  }

  /* Pun pe ecran butonul pentru meniu mediu */
  nav ul.menu > li:nth-child(1) > div:nth-child(2) {
    display: block;
  }
}
