:root {
  --medium-btn-size: 8em;
	--large-btn-size: 16em;

  --ascunde-filtre-bkg-color: var(--blue5);
  --ascunde-filtre-color: white;

	--produs-border-color: var(--blue6);
	--produs-border-size: 2px;
	--produs-border-shadow-color: var(--blue6-transparent);
	--produs-border-shadow-spread: 5px;
	--produs-border-radius: 5px;

	--info-border-left-color: var(--blue6-transparent);
	--info-padding-left: 0.6em;
	--info-border-left: 2px solid var(--info-border-left-color);
	--info-border-left-hover: 2px solid var(--blue6);
}

button {
  padding: 0.5em;
  margin: 1em;
  width: var(--medium-btn-size);

  background-color: var(--ascunde-filtre-bkg-color);
  color: var(--ascunde-filtre-color);
  border: none;
  border-radius: 3px;

  cursor: pointer;

  transition: text-shadow var(--fast_transition_duration) linear;
}

button:hover {
  text-shadow: 0px 0px 2px white;
}

#ascunde-filtre {
  // padding: 0.5em;
  // margin: 1em;
  // width: var(--medium-btn-size);

  // background-color: var(--ascunde-filtre-bkg-color);
  // color: var(--ascunde-filtre-color);

  cursor: pointer;

  p {
    margin: 0;
  }
}

#filtre-produse {
  margin: 1em;

  .optiuni-filtre {
    margin: 1em;
    // background-color: var(--blue6-transparent);

    .optiune-filtru {
      padding: 0.5em;
      margin-bottom: 0.5em;
      
      border: var(--produs-border-size) solid var(--produs-border-color);
      border-radius: var(--produs-border-radius);
    }
  }

  #container-cuv-cheie {
    p {
      margin: 0;
    }
  }
  
  .butoane-filtrare {
    margin: 1em;

		#sortCrescPretNrDotari, #sortDescrescPretNrDotari, #calcPretMediu {
			width: var(--large-btn-size);
		}

		#container-pret-mediu {
			border: var(--produs-border-size) solid var(--produs-border-color);
			border-radius: var(--produs-border-radius);
			padding: 0.5em;
			width: auto;

			p {
				margin: 0;
			}
		}
  }

  #ascunde-dotari {
    button {
      padding-left: 0;
      padding-top: 0;

      background-color: white;
      color: var(--blue2);
      
      text-decoration: underline;
      text-align: left;
    }

    button:hover {
      text-shadow: 0px 0px 2px #22a1e620;
    }
  }
}

.grid-produse {
	margin: 1em;

	.produs {
		margin: 1em;
		margin-bottom: 3em;
		padding: 1em;

		// margini
		border-radius: var(--produs-border-radius);
		border: var(--produs-border-size) solid var(--produs-border-color);
		box-shadow: 0px 0px var(--produs-border-radius) 0px var(--produs-border-shadow-color);
		transition: linear box-shadow var(--fast_transition_duration);

		// numele
		h3.nume {
			text-align: center;
			margin-top: 0;
			padding-top: 0.5em;
			padding-bottom: 0.5em;

			a {
				// color: #db4b12;
				text-decoration: none;
			}
		}

		.continut-produs {
			display: flex;
			flex-direction: row;

			// informatiile despre produs
			.info-produs {
				display: flex;
				flex-direction: column;
				width: 50%;
				position: relative;

				table {
					td, th {
						padding: 0.5em;
						border: 2px solid var(--blue6);
						border-radius: 3px;
					}
				}
			}

			// stilizarea cu margine la stanga
			.info-produs > * {
				margin-top: 0.25em;
				margin-bottom: 0.25em;

				border-left: var(--info-border-left);
				padding-left: var(--info-padding-left);
				transition: linear border var(--fast_transition_duration);
			}

			.info-produs > *:hover {
				border-left: var(--info-border-left-hover);
			}

			// imaginea produsului
			.imagine-produs {
				width: 50%;

				figure {
					margin: 0;
					margin-left: 10%;
					margin-right: 10%;
					height: 100%;

					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}

	.produs:hover {
		box-shadow: 0px 0px var(--produs-border-radius) var(--produs-border-shadow-spread) var(--produs-border-shadow-color);
	}
}

@media screen and (max-width: 700px) {
	.continut-produs {
		flex-direction: column;

		.info-produs {
			width: 100%;
		}

		.imagine-produs {
			width: 100%;
		}
	}
}